<div class="row">
    <div class="col-sm-7 main-heading">
     <span>Audit</span><br/>
     <span>Management</span><br/>
     <span>System</span><br/>
    </div>

    <div class="col-sm-5 login-body">
        <div class="card rounded">
            <form class="box" autocomplete="off" (ngSubmit)="onLogIn()">
                <h1>Login</h1>
                <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required> 
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>  
                <input type="submit" name="" value="Login">
            </form>
        </div>
        <div class="alert alert-danger error-message" role="alert" *ngIf="message.length>0">
            {{ message }}
        </div>
    </div>
</div>